/*Styles pour les composants appelés dans les api*/

/*Centrer le text du contenu*/
.center{
    text-align: center;
}

/*Mettre un espace entre le haut du container et le text*/
.margtop{
    margin-top: 5%;
}

.sans{
    list-style-type: none;
}