.center{
    text-align: center;
}

.margtop{
    margin-top: 5%;
}

.extension{
    height: 50%;
    background: #FFE6E0;    
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 5%;
}