.tool{
    height: 100%;
    background: #1E1F25;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);   
}

.nom{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 24px;    
    letter-spacing: 0.4px;
    color: white;
    text-align: center;
    padding-top: 10%;
}

.hover{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;    
    letter-spacing: 0.4px;
    color: white;
    text-align: center;
  
}
/*
#un{
    padding-top: 50%;
}

#deux{

}

#trois{

}*/

.ul{
    margin-top: 50%;
}