/*Style pour le composant main*/

/*haut de la page*/
.top{
    height: 140px;
    background: #FFFAF7;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-top: 3%;
    text-align: center;
}

/*Container du milieu de la page*/
.mid{
    height: 100%;
    background: #FFFAF7;    
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 5%;
}

/*Style des boutons*/
.butts{
    padding: 50;
    width: 15%;
    height: 50%;
    margin-right: 5%;
    background: #FFE6E0;
    border-radius: 20px;
    text-align: center;
    font-family: Roboto;
    margin-left : 1%;
    margin-top: 4%;
}

/*Style du text*/
.font{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #252733;  
}

/*Style des Navlinks*/
.navlink{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: #252733;  

}

/*placer le texte info */
.info{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;

}

/*séparation des différentes parties*/
.liste{
    margin-top: 2%;
    margin-bottom: 5%;

}